<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings file="custom.config">
		<add key="debug" value="true" />
	</appSettings>
	<connectionStrings>
		<add name="logDB" connectionString="Data Source=NB21-6CDPYD3\SQLEXPRESS;Initial Catalog=ConfigTestDB;Integrated Security=True"/>
	</connectionStrings>
</configuration>